<%-  include('partials/head') %>

  <body>
    <%-  include('partials/navbar') %>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, provident,
      impedit debitis officiis eligendi non, modi omnis accusamus laboriosam
      architecto quis. Accusamus dignissimos voluptatum saepe rem praesentium!
      Porro, aperiam consectetur?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus nihil
      minima recusandae eveniet soluta, dolore et! Soluta, ab! Ad soluta
      similique incidunt vel quae eaque ab fuga ea numquam laborum?
    </p>

    <%-  include('partials/footer') %>
  </body>
</html>
